<style>
  body {
    color: black;
  }
  .container {
    padding-bottom: 80px;
  }
  a, a:hover {
    text-decoration: none;
    color: black;
  }
  h1, h2, h3, .divisionTitle {
    text-align: center;
    font-family: Poiret One;
    background: white;
    color: #333;
  }
  .subhead {
    font-size: 18px;
    font-family: Dosis;
    margin: 0px 30px 0px 30px;
  }
  h1 {
    font-family: Bangers;
    background: black;
    color: white;
  }
  li, table {
    font-family: Bangers;
    font-size: 20px;
  }
  table {
    width: 100%;
    border: 1px solid black;
  }
  li span, td {
    font-family: Dosis;
  }
  td {
    border: 1px solid black;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  h5 {
    text-align: center;
    font-family: Bangers;
    font-size: 40px;
  }
  footer {
    background: black;
    height: 25px;
    width: 100%;
    text-align: center;
    font-family: Dosis;
    color: white;
    position: fixed;
    bottom: 0;
  }
  i {
    color: white;
  }
  footer a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
  footer p {
    display: inline;
  }
</style>
<h2 id="mainBanner"><a class="subhead" href="/#/teams">teams</a><a href="/#/">MAJOR LEAGUE TAGPRO</a><a class="subhead" href="/#/schedule">schedule</a></h2>

<h1>{{teams[idx].name}}<br>{{wins}} - {{ties}} - {{losses}}</h1>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <h2>Roster</h2>
      <ul>
        <li>{{teams[idx].captain}} <span>(Captain)</span></li>
        <li ng-repeat="player in teams[idx].roster">{{player}}</li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <h2>Server</h2>
      <h5>{{teams[idx].server}}</h5>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <h2>Schedule</h2>
      <table>
        <tr ng-repeat="team in teams[idx].schedule">
          <td class='tdWeek'><span>Week {{$index + 1}}</span></td>
          <td><a href="/#/teams/{{team}}"> {{team}}</a></td>
          <td><span ng-show="record[$index].game2">{{record[$index].game1}} & {{record[$index].game2}}</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--incorporate ng-hide if routeParams doesnt match anything i want -->

 <footer>
  <a href="https://twitter.com/thekoalabeast" target="_blank"><i class="fa fa-twitter"></i></a><a href="http://reddit.com/r/tagpro" target="_blank"><i class="fa fa-reddit"></i></a><p> &copy; Gem </p><a href="http://tagpro.gg" target="_blank"><i class="fa fa-gamepad"></i></a><a href="https://docs.google.com/spreadsheets/d/1gYRmRLbaxMyyWdLPh_7gkR5dHlH0qNwEExsd9p5uTM0/edit#gid=740173053" target="_blank"><i class="fa fa-bar-chart"></i></a>
</footer>
