<style>
.container {
  padding-bottom: 80px;
}
  a, a:hover {
    text-decoration: none;
    color: black;
  }
  h2, h3, .divisionTitle {
    text-align: center;
    font-family: Poiret One;
    background: white;
    color: #333;
  }
  .subhead {
    font-size: 18px;
    font-family: Dosis;
    margin: 0px 30px 0px 30px;
  }
  h1 a {
    font-family: Bangers;
    font-size: 30px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    padding: 5px;
  }
  h1 {
    text-align: center;
  }
  .divisionTitle {
    color: white;
    background: black;
  }
  .teamName {
    font-size: 30px;
    font-family: Dosis;
    color: black;
    text-align: center;
    display: block;
  }
  footer {
    background: black;
    height: 25px;
    width: 100%;
    text-align: center;
    font-family: Dosis;
    color: white;
    position: fixed;
    bottom: 0;
  }
  i {
    color: white;
  }
  footer a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
  footer p {
    display: inline;
  }
</style>
<h2 id="mainBanner"><a class="subhead" href="/#/teams">teams</a><a href="/#/">MAJOR LEAGUE TAGPRO</a><a class="subhead" href="/#/schedule">schedule</a></h2>

<h1><a href="/#/standings">LEAGUE STANDINGS</a></h1>

<div class="container">
  <div class="row">
      <div class="col-lg-6">
        <h2 class="divisionTitle">NORTHEAST TEAMS</h2>
        <a href="/#/teams/{{team.name}}" class='teamName' ng-repeat="team in northeast">{{team.name}}</a>
      </div>
      <div class="col-lg-6">
        <h2 class="divisionTitle">ATLANTIC TEAMS</h2>
        <a href="/#/teams/{{team.name}}" class='teamName' ng-repeat="team in atlantic">{{team.name}}</a>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2 class="divisionTitle">MIDWEST TEAMS</h2>
      <a href="/#/teams/{{team.name}}" class='teamName' ng-repeat="team in midwest">{{team.name}}</a>
    </div>
    <div class="col-lg-6">
      <h2 class="divisionTitle">PACIFIC TEAMS</h2>
      <a href="/#/teams/{{team.name}}" class='teamName' ng-repeat="team in pacific">{{team.name}}</a>
    </div>
  </div>
</div>


 <footer>
  <a href="https://twitter.com/thekoalabeast" target="_blank"><i class="fa fa-twitter"></i></a><a href="http://reddit.com/r/tagpro" target="_blank"><i class="fa fa-reddit"></i></a><p> &copy; Gem </p><a href="http://tagpro.gg" target="_blank"><i class="fa fa-gamepad"></i></a><a href="https://docs.google.com/spreadsheets/d/1gYRmRLbaxMyyWdLPh_7gkR5dHlH0qNwEExsd9p5uTM0/edit#gid=740173053" target="_blank"><i class="fa fa-bar-chart"></i></a>
</footer>
