<!-- START NAVIGATION STUFF -->
<div id="nav" class="z-depth-2">
  <div id="nav-links-container">
    <a class="nav-link" id="logo-link" href="/#/"><img id="logo" src="http://i.imgur.com/8aAHD9L.png"></a>
    <a class="nav-link" id="majors" href="/#/teams">teams</a>
    <a class="nav-link" id="schedule" href="/#/schedule">schedule</a>
    <a class="nav-link" id="standings" href="/#/standings">standings</a>
    <a class="nav-link" id="current" href="/#/live">this week</a>
    <a class="nav-link" id="seasons" href="/#/seasons">past seasons</a>
    <a class="nav-link" id="balloffame" href="/#/balloffame">ball o' fame</a>
  </div>
  <div id="collapsed">
    <a class="nav-link" id="logo-collapsible" href="/#/"><img id="logo" src="http://i.imgur.com/8aAHD9L.png"></a>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/#/teams">teams</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/#/schedule">schedule</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/#/standings">standings</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/#/live">this week</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/#/seasons">past seasons</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/#/balloffame">ball o' fame</a></li>
      </ul>
    </div>
  </div>
</div>
<!--- END NAVIGATION STUFF -->
