<style>
  a, a:hover {
    text-decoration: none;
    color: black;
  }
  h2, h3, .divisionTitle {
    text-align: center;
    font-family: Poiret One;
    background: white;
    color: #333;
  }
  .container {
    padding-bottom: 80px;
  }
  .subhead {
    font-size: 18px;
    font-family: Dosis;
    margin: 0px 30px 0px 30px;
  }
  .weekTitle {
    background: black;
    color: white;
    font-family: Dosis;
  }
  .weekTitle a {
    color: white;
  }
  .weekTitle span {
    display: block;
    font-size: 15px;
    padding: 2.5px 0px 1.5px 0px;
  }
  .weekTitle span a {
    padding: 0px 10px 0px 10px;
  }
  .divisionTitle {
    color: white;
    background: black;
  }
  .teamName {
    font-size: 30px;
    font-family: Dosis;
    color: black;
    text-align: center;
    display: block;
  }
  .week {
   /*height: 380px;*/
  }
  .week table {
    font-size: 17.5px;
    font-family: Dosis;
    background: white;
  }
  td {
    text-align: center;
    font-family: Dosis;
    border: 1px solid black;
  }
  .northeast {
    background: #80CC80;
  }
  .atlantic {
    background: #66A3FF;
  }
  .midwest {
    /*background: #FF704D;*/
    background: #FFFF66;
  }
  .pacific {
    /*background: #C299EB;*/
    /*background: #FF704D; */
    background: #FF6666; /*nqoba's pref lol*/
  }
</style>
<div ng-include="'client/components/nav.html'"></div>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-12">
      <table style="width: 100%">
        <tr><td class="northeast"><a href="/#/standings/northeast">Northeast</a></td><td class="atlantic"><a href="/#/standings/atlantic">Atlantic</a></td><td class="midwest"><a href="/#/standings/midwest">Midwest</a></td><td class="pacific"><a href="/#/standings/pacific">Pacific</a></td></tr>
      </table>
    </div>
  </div>
  <div class="row">
      <div class="week col-lg-4" ng-repeat="week in sched">
        <h2 class="weekTitle"><a href="/#/schedule/week/{{$index+1}}">Week {{$index + 1}} - {{weekarr[$index]}}</a><span><a href="{{(maparr[$index])[0]}}" target="_blank">{{(maparr[$index])[1]}}</a><a href="{{(maparr[$index + 1])[0]}}" target="_blank">{{(maparr[$index+1])[1]}}</a><span></h2>
        <table style="width: 100%">
          <tr ng-repeat="game in week">
            <td ng-class="{ 'atlantic' : game.team1division == 1, 'northeast' : game.team1division == 2,
                            'midwest' : game.team1division == 3, 'pacific' : game.team1division == 5 }">
                <a href="/#/teams/{{game.team1}}">{{game.team1}}</a>
            </td>
            <td ng-class="{ 'atlantic' : game.team2division == 1, 'northeast' : game.team2division == 2,
                            'midwest' : game.team2division == 3, 'pacific' : game.team2division == 5 }">
                <a href="/#/teams/{{game.team2}}">{{game.team2}}</a></td>
          </tr>
        </table>
      </div>
  </div>
</div>


 <footer>
  <a href="https://twitter.com/thekoalabeast" target="_blank"><i class="fa fa-twitter"></i></a><a href="http://reddit.com/r/tagpro" target="_blank"><i class="fa fa-reddit"></i></a><p> &copy; Gem </p><a href="http://tagpro.gg" target="_blank"><i class="fa fa-gamepad"></i></a><a href="https://docs.google.com/spreadsheets/d/1gYRmRLbaxMyyWdLPh_7gkR5dHlH0qNwEExsd9p5uTM0/edit#gid=740173053" target="_blank"><i class="fa fa-bar-chart"></i></a>
</footer>
