<style>
  a, a:hover {
    text-decoration: none;
    color: black;
  }
  h2, h3, .divisionTitle {
    text-align: center;
    font-family: Poiret One;
    background: white;
    color: #333;
  }
  .subhead {
    font-size: 18px;
    font-family: Dosis;
    margin: 0px 30px 0px 30px;
  }
  .divisionTitle {
    color: white;
    background: black;
  }
  .game {
    color: rgba(188,92,92,1);
    font-weight: bold;
  }
  .teamName {
    font-size: 30px;
    font-family: Dosis;
    color: black;
    text-align: center;
    display: block;
  }
    body {
    color: black;
  }
  a, a:hover {
    text-decoration: none;
    color: black;
  }
  h2, h3, .gameTitle {
    text-align: center;
    font-family: Poiret One;
    background: white;
    color: #333;
  }
  h3 span {
    font-family: Dosis;
  }
  .subhead {
    font-size: 18px;
    font-family: Dosis;
    margin: 0px 30px 0px 30px;
  }
  .gameTitle {
    font-family: Dosis;
    color: white;
    background: black;
    font-size: 20px;
  }
  .closeStatsButton, .vodLink {
    cursor: pointer;
    font-size: 12px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
  }
  .vodLink {
    float: left;
  }
  .vodLink a {
    color: white;
    padding-left: 10px;
  }
  .score {
    /*border: 3px solid black;*/
    /*height: 200px;*/
  }
  table {
    text-align: center;
    font-family: Dosis;
  }
  .teamName {
    font-family: Bangers;
    letter-spacing: .75px;
    font-size: 16px;
  }
  table td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .scoreNum {
    font-size: 18px;
    font-family: Oswald;
  }
  .leftMostTD {
    text-align: left;
    padding-left: 5px;
    width: 100px;
  }
  .green {
    background: green;
  }
  .moreInfo {
    background: white;
    display: none;
  }
  .scoreboard {
    /*background: rgba(250,250,250,.8);*/
  }
  .cleartry {
     clear: both;
  }
  .container {
    padding-bottom: 80px;
  }
  .seeMore {
    cursor: pointer;
  }
  footer {
    background: black;
    height: 25px;
    width: 100%;
    text-align: center;
    font-family: Dosis;
    color: white;
    position: fixed;
    bottom: 0;
  }
  .topRow {
    border-bottom: 1px solid black;
  }
  i {
    color: white;
  }
  #infoCircle {
    text-align: center;
  }
  #infoCircle i {
    color: black;
    cursor: pointer;
  }
  #aboutWeek p {
    color: white;
    font-family: Dosis;
    text-align: center;
  }
  #aboutWeek {
    display: none;
    background: #666;
    padding: 5px;
  }
  .yellow { background: yellow; }
  footer a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
  footer p {
    display: inline;
  }
  @media (max-width: 600px) {
    #mainBanner a {
      display: block;
    }
    .gameTitle {
      font-size: 15px;
      color: white;
    }
    .gameTitle span {
      padding-bottom: 3.5px;
      font-size: 11px;
      color: white;
    }
    table td {
      font-size: 10px;
    }
  }
  @media (max-width: 500px) {
    .gameTitle {
      font-size: 12.5px;
      color: white;
    }
    .gameTitle span {
      font-size: 9px;
      color: white;
    }
    table td {
      font-size: 10px;
    }
  }
</style>
<h2 id="mainBanner"><a class="subhead" href="/#/teams">teams</a><a href="/#/">MAJOR LEAGUE TAGPRO</a><a class="subhead" href="/#/schedule">schedule</a></h2>

<div class="container">
  <div class="row">
    <p id="infoCircle"><i ng-click="toggleAbout()" class="fa fa-info-circle fa-2x"></i></p>
    <div id="aboutWeek">
      <p>Game 1: {{maparr[weekId-1][1]}}</p>
      <p>Game 2: {{maparr[weekId][1]}}</p>
      <p>You can click on the G1H1/G1H2/Game 1/G2H1/G2H2/Game 2 table headers, when the game is over, to see stats for that respective half or game.</p>
    </div>
    <h3> WEEK {{weekId}} - <span>{{ weekarr[weekId-1] }}</span></h3>
    <div class="score col-lg-6 col-md-6 col-xs-12" id="{{$index + 1}}" ng-repeat="game in games"  ng-class="{ 'cleartry' : $index % 2 == 0 }">
      <!-- <p class='gameTitle'> {{game.team1}} vs {{game.team2}} <span ng-click="onSeeMoreClick(game)" id="seeMore{{$index + 1}}">See More</span></p> -->
      <p class='gameTitle'><span class="vodLink" ng-show="game.streamLink"><a href="{{game.streamLink}}" target="_blank">Vod</a></span> {{game.team1}} vs {{game.team2}} <span class="closeStatsButton" ng-click="closeStats(game)">{{game.close}}</span></p>
      <div>
        <table class='scoreboard' style="width:100%">
          <tr>
            <td class="leftMostTD">Teams</td>
            <td ng-click="onSeeMoreClick(game, 'G1H1')"><span id='G1H1{{game.gameId}}' class='seeMore seeMore{{game.gameId}}'>G1H1</span></td>
            <td ng-click="onSeeMoreClick(game, 'G1H2')"><span id='G1H2{{game.gameId}}' class='seeMore seeMore{{game.gameId}}'>G1H2</span></td>
            <td ng-click="onSeeMoreClick(game, 'G1')"><span id='G1{{game.gameId}}' class='seeMore seeMore{{game.gameId}}'>Game 1</span></td>
            <td ng-click="onSeeMoreClick(game, 'G2H1')"><span id='G2H1{{game.gameId}}' class='seeMore seeMore{{game.gameId}}'>G2H1</span></td>
            <td ng-click="onSeeMoreClick(game, 'G2H2')"><span id='G2H2{{game.gameId}}' class='seeMore seeMore{{game.gameId}}'>G2H2</span></td>
            <td ng-click="onSeeMoreClick(game, 'G2')"><span id='G2{{game.gameId}}' class='seeMore seeMore{{game.gameId}}'>Game 2</span></td>
          </tr>
          <tr>
            <td class="teamName leftMostTD">{{game.team1}}</td>
            <td class="scoreNum">{{ game.g1h1[game.team1] }}</td>
            <td class="scoreNum">{{ game.g1h2[game.team1] }}</td>
            <td class="scoreNum game">{{ game.g1h1[game.team1] + game.g1h2[game.team1]}}</td>
            <td class="scoreNum">{{ game.g2h1[game.team1] }}</td>
            <td class="scoreNum">{{ game.g2h2[game.team1] }}</td>
            <td class="scoreNum game">{{ game.g2h1[game.team1] + game.g2h2[game.team1]}}</td>
          </tr>
          <tr>
            <td class="teamName leftMostTD">{{game.team2}}</td>
            <td class="scoreNum">{{ game.g1h1[game.team2] }}</td>
            <td class="scoreNum">{{ game.g1h2[game.team2] }}</td>
            <td class="scoreNum game">{{ game.g1h1[game.team2] + game.g1h2[game.team2]}}</td>
            <td class="scoreNum">{{ game.g2h1[game.team2] }}</td>
            <td class="scoreNum">{{ game.g2h2[game.team2] }}</td>
            <td class="scoreNum game">{{ game.g2h1[game.team2] + game.g2h2[game.team2]}}</td>
          </tr>
        </table>
        <div class="moreInfo" id="moreInfo{{$index+1}}">
          <div>
            <table style="width: 100%">
              <tr class="topRow">
                <td>Player</td>
                <td>Score</td>
                <td>Minutes</td>
                <td>Tags</td>
                <td>Returns</td>
                <td>Captures</td>
                <td>Grabs</td>
                <td>Drops</td>
                <td>Hold</td>
                <td>Prevent</td>
                <td>Pops</td>
              </tr>
              <tr ng-repeat="player in game.playerObjArr | orderBy:'score':'reverse'">
                <td>{{player.name}}</td>
                <td>{{player.score}}</td>
                <td>{{player.minutes}}</td>
                <td>{{player.tags}}</td>
                <td>{{player.returns}}</td>
                <td>{{player.captures}}</td>
                <td>{{player.grabs}}</td>
                <td>{{player.drops}}</td>
                <td>{{player.hold}}</td>
                <td>{{player.prevent}}</td>
                <td>{{player.pops}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <footer>
  <a href="https://twitter.com/thekoalabeast" target="_blank"><i class="fa fa-twitter"></i></a><a href="http://reddit.com/r/tagpro" target="_blank"><i class="fa fa-reddit"></i></a><p> &copy; Gem </p><a href="http://tagpro.gg" target="_blank"><i class="fa fa-gamepad"></i></a><a href="https://docs.google.com/spreadsheets/d/1gYRmRLbaxMyyWdLPh_7gkR5dHlH0qNwEExsd9p5uTM0/edit#gid=740173053" target="_blank"><i class="fa fa-bar-chart"></i></a>
</footer>
